@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Edu+NSW+ACT+Cursive:wght@400..700&family=Sacramento&family=Schoolbell&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: "Schoolbell";
  background-color: aliceblue;
  color: #333;
  line-height: 1.6;
}
ul{
  list-style: none;
}
a {
  color:#333;
  text-decoration: none;
}
h1,h2 {
  font-weight: 300;
  /* line-height: 1.2; */
}
p{
  margin: 10px 0;
}
img{
  width: 100%;
}
/* navbar */
.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color:#333;
  opacity: 0.8;
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0px;
  padding: 0 30px;
  
}
.navbar a{
  color: rgb(130, 238, 175);
  padding: 10px;
  margin: 0 5 px;
}
.navbar ul {
  display: flex;
}
.navbar a:hover{
  border-bottom: #41cf69 5px solid;
}
/* header */
.hero{
  background: url("/flexbox clone project/images/showcase.jpg") no-repeat center center/cover;
  height: 100vh;
  position: relative;
  color: aliceblue;
}
.hero .content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  padding: 0 20px;
}
.hero .content h1 {
  font-size: 55px;
}
.hero .content p{
  font-size: 23px;
  max-width: 600px;
  margin: 20px 0 30x;
}
.hero::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height:100%;
  width:100%;
  background:rgb(0,0,0,0.6);
}
.hero *{
  z-index: 10;
}
/* icons */
.icons{
  padding: 30px;
}
.icons h3{
  font-weight: bold;
  margin-bottom: 15px;
}
.icons i {
  background-color:rgb(57, 49, 51);
  color: snow;
  padding: 1rem;
  border-radius: 50%;
  margin-bottom: 15px;
}